POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=studywave

REDIS_PASSWORD=redis

ZO_ROOT_USER_EMAIL=admin@studywave.com
ZO_ROOT_USER_PASSWORD=admin

RUSTFS_ACCESS_KEY=admin
RUSTFS_SECRET_KEY=admin
