POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=studywave

REDIS_PASSWORD=redis

OPENOBSERVE_USER=admin@studywave.com
OPENOBSERVE_PASS=admin

RUSTFS_ACCESS_KEY=admin
RUSTFS_SECRET_KEY=admin
