includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/
        - routes/
        - bootstrap/

    level: 5

    excludePaths:
        - vendor/*
        - storage/*
